<a href="https://colab.research.google.com/github/8j8j8/Python_Notes/blob/main/Py_Basix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry']
print(len(fruits))

3

In [ ]:
fruits.reverse()
print(fruits)

['Cherry', 'Banana', 'Apple']

In [ ]:
fruits_copy = fruits.copy()

In [ ]:
fruits_copy = fruits_copy + fruits
print(fruits_copy)

['Cherry', 'Banana', 'Apple', 'Cherry', 'Banana', 'Apple', 'Cherry', 'Banana', 'Apple']

In [ ]:
for i in range(1, 4):
  fruits_copy.pop()
print(fruits_copy)

[]

In [ ]:
fruits_copy = fruits.copy()
fruits_copy.extend(fruits)
print(fruits_copy)

['Cherry', 'Banana', 'Apple', 'Cherry', 'Banana', 'Apple']

In [ ]:
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Cherry']

In [ ]:
mydict = {'brand': 'Ford','brand':'Hyundai', 'model': 'Mustang', 'model': 'i20', 'year': 1964}
print(mydict)

{'brand': 'Hyundai', 'model': 'i20', 'year': 1964}

In [ ]:
mydict.items()

dict_items([('brand', 'Hyundai'), ('model', 'i20'), ('year', 1964)])

In [ ]:
dict2 = mydict.copy()
print(dict2)

{'brand': 'Hyundai', 'model': 'i20', 'year': 1964}

In [ ]:
dict2['model'] = 'creta'

In [ ]:
print(mydict)
print(dict2)

{'brand': 'Hyundai', 'model': 'i20', 'year': 1964}
{'brand': 'Hyundai', 'model': 'creta', 'year': 1964}

In [ ]:
mydict['model'] = dict2

In [ ]:
print(mydict)

{'brand': 'Hyundai', 'model': {'brand': 'Hyundai', 'model': 'creta', 'year': 1964}, 'year': 1964}

In [ ]:
mydict = {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
upd_info = [('model','figo'),('city','mumbai')]
mydict.update(upd_info)
print(mydict)

{'brand': 'Ford', 'model': 'figo', 'year': 1964, 'city': 'mumbai'}

In [ ]:
mydict['city'] = 'delhi'

In [ ]:
new_key = {3421 : 'number'}
mydict.update(new_key)
print(mydict)

{'brand': 'Ford', 'model': 'figo', 'year': 1964, 'city': 'delhi', 3421: 'number'}

In [ ]:
max_length = 5
for i in range(1,max_length+1):
  for j in range(1,i+1):
    print(f"{j}", end=" ")
  print()

for i in range(max_length-1,0,-1):
  for j in range(1,i+1):
    print(f"{j}", end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
line = '*'
max_length = 3
while len(line) < max_length:
  print(line)
  line += "*"
while len(line):
  print(line)
  line  = line[:-1]

*
**
***
**
*

In [ ]:
max = 3
s2 = '*'
s1 = ' ' * (max-1)
while len(s1):
  print(s1 + s2);
  s1 = s1[:-1]
  s2 += "*"

while len(s2):
  print(s1+s2)
  s2 = s2[:-1]
  s1 += " "

  *
 **
***
 **
  *

In [ ]:
# The pattern has a peak of 5 stars (height h = 3)
h = 3

# Upper half (including the middle row)
for i in range(h):
    print(" " * (h - i - 1) + "*" * (2 * i + 1))

# Lower half
for i in range(h - 2, -1, -1):
    print(" " * (h - i - 1) + "*" * (2 * i + 1))

  *
 ***
*****
 ***
  *

In [ ]:
trip_details = [{'City' : 'Paris' , 'Return Flight' : 200 , 'Hotel per day' : 20 , 'Weekly Car Rental' : 200} ,
                {'City' : 'London' , 'Return Flight' : 250 , 'Hotel per day' : 30 , 'Weekly Car Rental' : 120},
                {'City' : 'Dubai' , 'Return Flight' : 370 , 'Hotel per day' : 15 , 'Weekly Car Rental' : 80},
                {'City' : 'Mumbai' , 'Return Flight' : 450 , 'Hotel per day' : 10 , 'Weekly Car Rental' : 70}]

In [12]:
import math
def calc_week(days):
  if days == 0:
    weeks = 0
  else:
    weeks = math.ceil(days / 7)
  return weeks

In [14]:
def city_details(city):
  for i in trip_details:
    if i['City'] == city:
      return i
  return None

def total_spend(city, days):
  city_info = city_details(city)
  if days == 0:
    return 0
  if city_info is None:
    return f"City '{city}' not found in trip details."

  total = city_info['Return Flight'] + (days * city_info['Hotel per day']) + (calc_week(days) * city_info['Weekly Car Rental'])
  return total

In [27]:
weeks = 2
def convert_week_to_date(weeks):
  days = weeks * 7
  return days
days = convert_week_to_date(weeks)

min = total_spend(trip_details[0]['City'], days)
min_city = trip_details[0]['City']
for i in trip_details:
  if total_spend(i['City'], days) < min:
    min = total_spend(i['City'], days)
    min_city = i['City']
  else:
    continue
print(f"minimum spend is {min} in {min_city} for {weeks} weeks")

minimum spend is 730 in Mumbai for 2 weeks

In [23]:
budget = 1000
max_spend = 0
max_days = 0
for i in trip_details:
  days = 0
  spend = total_spend(i['City'], days)
  while total_spend(i['City'], days) <= budget:
    spend = total_spend(i['City'], days)
    days += 1
  if days > max_days:
    max_spend = spend
    max_spend_city = i['City']
    max_days = days-1

print(f"You can have the longest trip of {max_days} days in Rs {max_spend} in {max_spend_city}")

You can have the longest trip of 27 days in Rs 1000 in Mumbai

In [26]:
budget = 1000
min_days = math.inf

for i in trip_details:
  days = 0
  spend = total_spend(i['City'], days)

  while total_spend(i['City'], days) <= budget:
    spend = total_spend(i['City'], days)
    days += 1
  if min_days > days:
    min_days_spend = spend
    min_days = days-1
    min_days_city = i['City']

print(f"You can have the shortest trip of {min_days} days in Rs {min_days_spend} in {min_days_city}")

You can have the shortest trip of 14 days in Rs 880 in Paris

# Functions self study

## Functions with arbitrary number of arguments

In [28]:
def combined_function(arg1, *args, **kwargs):
    print("First argument:", arg1)
    print("Positional arguments (tuple):", args)
    print("Keyword arguments (dictionary):", kwargs)

combined_function("Hi", 1, 2, 3, first="a", second="b")
# Output:
# First argument: Hi
# Positional arguments (tuple): (1, 2, 3)
# Keyword arguments (dictionary): {'first': 'a', 'second': 'b'}

First argument: Hi
Positional arguments (tuple): (1, 2, 3)
Keyword arguments (dictionary): {'first': 'a', 'second': 'b'}

## Nested Functions with closures

In [29]:
def make_multiplier_of(n):
    # 'n' is a non-local variable for the 'multiplier' function
    def multiplier(x):
        return x * n

    return multiplier # Return the inner function without calling it

# Create closures
times3 = make_multiplier_of(3)
times5 = make_multiplier_of(5)

# Use the closures
print(times3(9)) # Output: 27 (remembers n=3)
print(times5(3)) # Output: 15 (remembers n=5)

27
15

## Recursion

In [30]:
def factorial(n):
    # Base case: when n is 0 or 1, the recursion stops and returns 1
    if n == 0 or n == 1:
        return 1
    # Recursive case: the function calls itself with n - 1
    else:
        return n * factorial(n - 1)

# Test the function
number = 5
print(f"The factorial of {number} is {factorial(number)}")

The factorial of 5 is 120

##High order functions

In Python, functions that accept other functions as arguments or return other functions are known as higher-order functions

In [31]:
def apply_function(func, data_list):
    """
    Applies a given function to every item in a list and returns a new list.
    """
    result = []
    for item in data_list:
        result.append(func(item))
    return result

def square(x):
    return x * x

# 'square' is passed as an argument to 'apply_function'
numbers = [1, 2, 3, 4]
squared_numbers = apply_function(square, numbers)
print(squared_numbers)

[1, 4, 9, 16]

In [32]:
def make_multiplier(factor):
    """
    Returns a new function that multiplies its input by 'factor'.
    This is an example of a closure.
    """
    def multiplier_function(x):
        return x * factor
    return multiplier_function

# Create specific functions using the factory
double = make_multiplier(2)
triple = make_multiplier(3)

# Use the generated functions
print(double(5))  # Output: 10
print(triple(5))  # Output: 15

10
15

## Decorator Functions

In [33]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.